		
input.authtype{
	width:auto;
}

/* Yubico Mice header*/
.yubiKeyInput{ 
	background: white url("../images/yubiright_16x16.gif") no-repeat 2px 2px; 
	padding-left: 20px; 
	height: 18px; 
	width: 250px; 
}
		
